name: Build Website

on: push

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Build svelte project
        run: npm i ; npm run build
        
      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: public
          build_dir: public
          fqdn: public.arix.dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
